<h3>ユーザー新規作成</h3>

<%= form_with model: @user do |f| %>
 <table>
  <tr>
   <th><%= f.label :name ,"名前" %></th>
   <td><%= f.text_field :name %></td>
  </tr>

  <tr>
   <th><%= f.label :email ,"メールアドレス" %></th>
   <td><%= f.text_field :email %></td>
  </tr>

  <tr>
   <th><%= f.label :age ,"年齢" %></th>
   <td><%= f.text_field :age %></td>
  </tr>

  <tr>
   <th><%= f.label :introduction ,"一言紹介" %></th>
   <td><%= f.text_area :introduction %></td>
  </tr>
 </table>

 <div>
  <ul>
   <li><%= f.submit "登録完了する"%></li>
   <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
  </ul>
 </div>
<% end %>